*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gradle.properties
.gradlew
.gradlew.bat
.settings.gradle
.build.gradle
.temp-testng-customsuite.xml
.idea
/app/proguard-rules.pro
/app/src/androidTest/java/com/example/meraparcel/ExampleInstrumentedTest.java
/gradle/wrapper/*
./AndroidManifest.xml
app/src/test/java/utility/capability.java
./capability.java
